<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <% include partials/css %>
  <style type="text/css">
      #londonTubeNetwork {
          width: 100%;
          height: 800px;
          border: 1px solid black;
      }
  </style>
</head>
<body>

<div id="londonTubeNetwork"></div>



<select id="selector">
<% for(var i=0; i<timesArray.length; i++) {%>
   <option id="<%= timesArray[i] %>"><%= timesArray[i] %></option>
<% } %>
</select>
<% include partials/scripts %>
<script type="text/javascript" src="./scripts/main.js"></script>
</body>
</html>
